[submodule "examples/vulnerable_git_mcp_server"]
	path = examples/vulnerable_git_mcp_server
	url = git@github.com:niclimcy/git-mcp-server-vulnerable.git
[submodule "sandbox"]
	path = sandbox
	url = git@github.com:niclimcy/vulnerable-sandbox.git
